@use "../../sass/mixin/dark-mode.scss" as mixin;
@use "../../sass/mixin/resposive-mode.scss" as responsive;

.home {
	@include mixin.themify(mixin.$themes) {
		min-height: 100vh;
		padding: 20px 70px;
		background-color: mixin.themed('bgSoft');

		@include responsive.mobile {
			padding: 1rem;
		}
		@include responsive.tablet {
			padding: 1.5rem;
		}
	}
}
