@use '../../sass/mixin/dark-mode.scss' as mixin;
@use '../../sass/mixin/resposive-mode.scss' as responsive;

.navbar {
	@include mixin.themify(mixin.$themes) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 1.5rem;
		height: 10vh;
		// overflow: hidden;
		position: sticky;
		top: 0;
		background-color: mixin.themed('bg');
		z-index: 999;
		box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px,
			rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px,
			rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px,
			rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;

		svg {
			color: mixin.themed('textColor');
		}

		.left {
			display: flex;
			align-items: center;
			gap: 2rem;

			a {
				text-decoration: none;
				display: inline-flex;
				align-items: center;
				gap: 1rem;
				span {
					font-weight: bold;
					font-size: 1.5rem;
					color: mixin.themed('logo');
				}
			}
		}

		.search {
			width: 400px;
			border-radius: 0.4rem;
			padding-left: 0.5rem;
			overflow: clip;

			display: flex;
			align-items: center;
			gap: 1rem;

			box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
				rgba(209, 213, 219, 0.356) 0px 0px 0px 1px inset;
			@include responsive.tablet {
				width: 200px;
			}

			input {
				background-color: transparent;
				outline: none;
				padding: 0.6rem;
				width: 100%;
				height: 100%;
				border: none;
				padding: 0.7rem;
				font-size: 0.9rem;
				color: mixin.themed('textColorSoft');

				@include responsive.mobile {
					display: none;
				}
			}
		}

		.right {
			position: relative;

			@include responsive.mobile {
				display: none;
			}

			@include responsive.tablet {
				display: none;
			}


			.user {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				border: 1px solid mixin.themed('border');
				padding: 0.4rem 1rem;
				border-radius: 1.4rem;
				cursor: pointer;

				svg {
					scale: 0.8;
					transition: 300ms cubic-bezier(0.19, 1, 0.22, 1);
				}

				img {
					object-position: center;
					object-fit: cover;
					border-radius: 50%;
					height: 30px;
					width: 30px;
				}
				span {
					font-weight: 700;
					color: mixin.themed('textColor');
				}

		
				.custom-menu {
					width: 15rem;
					top: calc(100% + 0.7rem);
				}
			}
		}
	}
}