@import '../../sass/mixin/dark-mode.scss';
@import '../../sass/mixin/resposive-mode.scss';

.leftbar {
	@include themify($themes) {
		flex: 2;
		position: sticky;
		top: 10vh;
		height: calc(100vh - 10vh);
		overflow-y: auto;
		scrollbar-width: none;
		scrollbar-color: hsl(210, 17%, 93%) hsl(0, 0%, 100%);
		background-color: themed('bg');
		color: themed('textColor');

		@include mobile {
			display: none;
		}

		.container {
			height: 100%;
			.menu {
				padding: 20px;
				display: flex;
				flex-direction: column;
				// background-color: red;
				min-height: 100%;
				gap: 3rem;

				.user {
					display: flex;
					align-items: center;
					gap: 1rem;

					img {
						width: 50px;
						height: 50px;
						border-radius: 50%;
						object-fit: cover;
						object-position: center;
						border: 2px solid lightblue;
						padding: 0.11rem;
					}
					div {
						display: inline-flex;
						flex-direction: column;
						gap: 0.1rem;
						span {
							font-size: small;
							font-weight: normal;
						}
					}
				}
				.links {
					display: inline-flex;
					flex-direction: column;
					gap: 1.2rem;
					.item {
						margin-left: 0.5rem;
						display: flex;
						align-items: center;
						gap: 0.7rem;
						cursor: pointer;
						border-radius: 0.4rem;
						padding-block: 0.5rem;
						padding-inline: 0.2rem;
						transition: 200ms ease-in;

						&:is(.active) {
							background-color: oklab(91.252% -0.00046 -0.01013 / 0.377);
							padding-left: 0.7rem;
						}
						&:hover {
							padding-left: 0.7rem;

							background-color: oklab(91.252% -0.00046 -0.01013 / 0.377);
						}

						svg {
							width: 20px;
							height: 20px;
							stroke-width: 2;
						}

						p {
							font-size: 0.9rem;
						}
					}
				}
			}
		}
	}
}
