@use '../../sass/mixin/dark-mode.scss' as mixin;

.post {
	@include mixin.themify(mixin.$themes) {
		--status: attr(data-comments-open);
		box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
		border-radius: 0.5rem;
		background-color: mixin.themed('bg');
		color: mixin.themed('textColor');
		animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;

		height: max-content;
		// overflow: clip;
		transition: 300ms cubic-bezier(0.23, 1, 0.32, 1);

		.container {
			padding: 20px;

			.user {
				display: flex;
				align-items: center;
				justify-content: space-between;

				.userInfo {
					display: flex;
					gap: 1rem;

					img {
						width: 40px;
						height: 40px;
						border-radius: 50%;
						object-fit: cover;
					}

					.details {
						display: flex;
						flex-direction: column;
						justify-content: center;
						gap: 0.2rem;

						.name {
							font-weight: 500;
							text-transform: capitalize;
						}
						.date {
							font-size: 0.8rem;
							color: mixin.themed('textColorSoft');
						}
					}
				}
			}

			.content {
				margin: 1.5rem 0;
				display: flex;
				flex-direction: column;
				gap: 0.8rem;

				img {
					width: 100%;
					max-height: 400px;
					object-fit: cover;
					border-radius: 0.5rem;
				}
				p {
					font-size: 0.9rem;
				}
			}

			.info {
				display: inline-flex;
				align-items: stretch;
				gap: 1.3rem;

				.item {
					display: inline-flex;
					border-radius: 0.5rem;
					align-items: center;
					gap: 0.5rem;
					font-size: small;
					cursor: pointer;
					padding: 0.2rem 0.5rem;
					transition: 300ms cubic-bezier(0.19, 1, 0.22, 1);
					color: mixin.themed('textColorSoft');
					border: none;
					background-color: transparent;

					&:hover {
						background-color: mixin.themed('bgSoft');
						color: mixin.themed('textColor');
					}
					&:active {
						scale: 0.9;
					}
				}
			}
		}
	}
}
.loadig-component {
	display: grid;
	place-items: center;
	margin-block: 1rem;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
